body {
  min-height: 100vh;
  background: rgb(37, 37, 37);
  background: linear-gradient(
    180deg,
    rgba(37, 37, 37, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
  color: white;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  padding-inline: 0.2em;
  align-items: center;
}
button {
  padding: 0.6em 1em;
  border-radius: 0.4em;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}
button:has(img) {
  border: none;
  outline: none;
  padding: 0.4em;
  border-radius: 0.3em;
}
button img {
  width: 32px;
}
select,
option {
  font-size: 1rem;
}
input {
  padding: 0.6em 1em;
  font-size: 1rem;
}
h1 {
  font-size: 2rem;
}
#runInput {
  margin-block: 1em;
  width: 100%;
}
hr {
  opacity: 0.4;
}

.ball {
  background-color: white;
  border-radius: 100px;
  color: black;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  padding: 2px;
  cursor: pointer;
}
#overContainer input {
  font-size: 14px;
}

#overContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
